.wrapper {
	width:960px;
}
body {

	background-image: url("../images/concrete-texture.png");
}
header {
	background-color: #ffffff;
	border-color: #cccccc;
	height: 100px;

}

section {
	clear: both;
	background-color: #ffffff;
	height: 200px;

}
.about {
	background-color: #d9f6ff;
	color: #777777;

}
.connect {
	background-color: #d9f6ff;
	color: #777777;

}
footer {
	background-color: #666666;
	height: 75px;

}
