.wrapper {
	width:960px;
}
.header {
	background-color: #ffffff;
	border-color: #cccccc;
}
.name {
	background-color: #F0FBF8;
	

}
.links {

}
section {

}
.about {
	background-color: #d9f6ff;
	color: #777777;

}
.connect {
	background-color: #d9f6ff;
	color: #777777;

}
footer {
	background-color: #666666;

}
